html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: black;
}

.container {
	padding: 10px;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
	grid-template-areas: 	"grid1 grid2 grid3"
                      		"grid1 grid2 grid3"
				            "grid1 grid4 grid4"
				            "grid5 grid4 grid4"
                     		"grid5 grid4 grid4";
    grid-gap: 10px;
}

div {
    border-radius: 10px;
}

.grid1 {
	background: #5D00FF;
    grid-area: grid1
}

.grid2 {
	background: #5D00FF;
    grid-area: grid2
}

.grid3 {
	background: #5D00FF;
    grid-area: grid3;
}

.grid4 {
	background: #5D00FF;
    grid-area: grid4;
}

.grid5 {
	background: #5D00FF;
    grid-area: grid5;
}